[Unit]
Description=A very simple static homepage for your server (%I)

[Service]
User=%i
ExecStart=/usr/bin/homer-homepage --addr 127.0.0.1 --port 12345
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
